.jq-checkbox {
    width: 10px;
    height: 10px;
    border: 1px solid rgba($blue, 0.6);
    border-radius: 2px;
    background: #fff;
    box-shadow: none;
    vertical-align: -2px;
    //margin-right: 8px;
}

/* .jq-checkbox.checked,
.jq-radio.checked {
    background: $main-color;
    border: 0;
} */

.jq-checkbox.checked .jq-checkbox {
    &__div {
        width: 8px;
        height: 6px;
        margin: 3px 0 0 3px;
        border-bottom: none;
        border-left: none;
        transform: rotate(0deg);
        background-image: url('../icons/checkbox.svg');
    }
}

.jq-radio.checked .jq-radio {
    &__div {
        width: 0px;
        height: 0px;
        margin: 0;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
    }
}