.top-page {

    height: 372px;
    background: linear-gradient(239.5deg, rgba(255, 255, 255, 0.45) -0.02%, rgba(255, 255, 255, 0) 68.53%), $blue;
    border-radius: 0px 0px 20px 20px;
    padding: 40px 0 120px;

    &__title {
        font-size: 40px;
        line-height: 50px;
        margin-top: 64px;
    }
}