.forgot-password-popup {
    display: none;
    min-height: 310px;
}

.forgot-password-popup__reset-by-phone {
    color: blue;
    text-decoration: underline;
}

.get-new-password-email__btn {
    display: none;
}