<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="p-profile">
            <div class="container">
                <div class="p-profile__wrapper">
                    <div class="dashboard p-profile__dashboard">
                        <div class="title dashboard__title">
                            Ваш кабинет
                        </div>
                        <ul class="dashboard__menu">
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/box.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Грузы
                                        <span>1</span>
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои грузы
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Не подтверждённые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            В работе
                                            <span>1</span>
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Скрытые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Выполненные
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/delivery-truck.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Транспорт
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мой транспорт
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Не подтверждённые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            В работе
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Скрытые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Выполненные
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/auction.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Аукцион грузы
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои аукционы
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои ставки
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header dashboard__item-header--start">
                                    <img src="img/icons/dashboard/auction.svg" alt="">
                                    <div class="title dashboard__item-title dashboard__item-title--lh17">
                                        Аукцион <br>
                                        транспорт
                                    </div>
                                </div>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/building.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Компания
                                    </div>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/settings.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Настройки
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/affiliate-marketing.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Реф. программа
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/discount.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Ваша скидка
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/megaphone.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Реклама
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <button id="exit" class="button dashboard-btn dashboard__btn button--transparent">
                            Выйти
                        </button>
                    </div>
                    <div class="p-profile__content flex">
                        <div class="p-profile__body">
                            <h3 class="title section-title p-profile__head p-profile__title">
                                Добавить сотрудника
                            </h3>
                            <div class="profile__item">
                                <h5 class="title profile__item-title">Общая информация</h5>
                                <form action="#" class="profile__form profile__employee-form grid">
                                    <div class="field profile__field profile__fields-item employee__field">
                                        <label class="label">Имя и фамилия</label>
                                        <div class="field__value flex">
                                            <input class="input field__value" type="text">
                                            <button class="reset-filter-btn"></button>
                                        </div>
                                    </div>
                                    <div class="profile__fields-item">
                                        <div class="field phone-field profile__field employee__field">
                                            <label class="label" for="phone">
                                                Номер телефона
                                            </label>
                                            <select class="filter-style" name="country">
                                                <option value="by">BY</option>
                                                <option value="ru">RU</option>
                                                <option value="ua">UA</option>
                                            </select>
                                            <input class="employee-number" type="tel" name="phone" placeholder="+375 (_ _) _ _ _-_ _-_ _">
                                        </div>
                                        <button class="plus-btn profile__plus-btn add-phone">
                                            Добавить еще телефон
                                        </button>
                                    </div>
                                    <div class="field profile__field profile__fields-item employee__field">
                                        <label class="label">Дата рождения</label>
                                        <div class="field__value flex">
                                            <input class="input field__value" type="text">
                                            <button class="reset-filter-btn"></button>
                                        </div>
                                    </div>
                                    <div
                                        class="field profile__field profile__fields-item profile__img-choice flex profile__img-choice--197 employee__field">
                                        <div class="profile__field-file">
                                            <label class="plus-btn">
                                                Добавить фото сотрудника
                                                <input class="filter-style" type="file" name="avatar" id="avatar">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field profile__field profile__fields-item employee__field">
                                            <label class="label">Email</label>
                                            <div class="field__value flex">
                                                <input class="input field__value" type="email" autofocus>
                                                <button class="reset-filter-btn"></button>
                                            </div>
                                    </div>
                                    <div class="field profile__field profile__fields-item employee__field">
                                            <label class="label">Логин</label>
                                            <div class="field__value flex">
                                                <input class="input field__value" type="text" autofocus>
                                                <button class="reset-filter-btn"></button>
                                        </div>
                                    </div>
                                    <div class="field profile__field profile__fields-item employee__field">
                                            <label class="label">Пароль</label>
                                            <div class="field__value flex">
                                                <input class="input field__value" type="text" autofocus>
                                                <button class="reset-filter-btn"></button>
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <aside class="p-profile__aside">
                            <div class="p-profile__add p-profile__aside-item">
                                <div class="p-profile__fullness flex">
                                    <div class="p-profile__fullness-percent">
                                        87%
                                    </div>
                                    <div class="p-profile__aside-item-text p-profile__fullness-text">
                                        Чтобы опубликовать транспорт заполните на 100%
                                    </div>
                                </div>
                                <select name="" id="" class="p-profile__aside-select select">
                                    <option value="">Бесплатное, меньше отликов</option>
                                </select>
                                <button id="add-transport" class="button p-profile__aside-btn">
                                    Добавить транспорт
                                </button>
                                <button class="p-profile__aside-blue-btn flex">Отменить</button>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>


            @@include('../../blocks/modules/footer/_footer.html')

            <div class="overlay">
                @@include('../../blocks/modules/popups/_popups.html')
            </div>
        </div>

        @@include('../_js.html')

</body>

</html>