<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="p-profile">
            <div class="container">
                <div class="p-profile__wrapper">
                    @@include('../../blocks/modules/dashboard/_dashboard.html')

                    <div class="p-profile__content">
                        <nav class="breadcrumbs">
                            <a class="breadcrumbs__item" href="#">
                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                        fill="#343434" />
                                </svg>
                                Хлебные крошки
                            </a>
                        </nav>

                        <div class="company">
                            <div class="company__body company__wrapper">
                                <div class="company__header flex">
                                    <h1 class="title section-title">Ваши компании</h1>
                                    <div class="blue-border-label company__status-label">Активные</div>
                                    <p class="company__fines-status">Штрафов: <span>нет</span></p>
                                </div>

                                <div class="company__inner">
                                    <div class="company__main flex">
                                        <div class="company__item company__main-info info-company">
                                            <div class="contact-item info-company__header flex">
                                                <img class="contact-item__img" src="img/logo/sta-logo.png"
                                                    alt="Логотип компании">
                                                <div class="contact-item__info">
                                                    <div class="contact-item__info-top flex">
                                                        <h5 class="title contact-item__title">(ООО) «АККОМ ТЛ»</h5>
                                                        <span class="info-company__top-status">ТОП 10</span>
                                                    </div>
                                                    <a class="contact-item__info-descr" href="tel:+375172704979">
                                                        +375 17 270 49 79
                                                    </a>
                                                    <ul class="rating info-company__rating flex">
                                                        <li class="rating__item"></li>
                                                        <li class="rating__item"></li>
                                                        <li class="rating__item"></li>
                                                        <li class="rating__item"></li>
                                                        <li class="rating__item"></li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <ul class="small-list info-company__list">
                                                <li class="small-list__item">На ZIGMUS: <span>1 год</span>
                                                </li>
                                                <li class="small-list__item">Всего заказов: <span>254</span>
                                                </li>
                                                <li class="small-list__item">Отзывы: <span>2</span></li>
                                            </ul>
                                            <address class="company__contacts contacts-company">
                                                <div class="contact-item contacts-company__item">
                                                    <div class="contact-item__select-item">
                                                        <label class="contact-item__descr contact-item__select-descr"
                                                            for="">Телефоны</label>
                                                        <select name="" id=""
                                                            class="filter-style common-select contact-item__select">
                                                            <option value="">BY, Беларусь</option>
                                                            <option value="">BY, Беларусь</option>
                                                            <option value="">BY, Беларусь</option>
                                                        </select>
                                                    </div>
                                                    <div class="contact-item__links flex">
                                                        <a href="tel:+375172704979" class="title contact-item__link">
                                                            +375 17 270 49 79
                                                        </a>
                                                        <a href="tel:+375172704979" class="title contact-item__link">
                                                            +375 17 270 49 79
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="contact-item contacts-company__item">
                                                    <p class="contact-item__descr">e-mail:</p>
                                                    <a class="title contact-item__link"
                                                        href="mailto:19+@stalogistic.com">
                                                        19+@stalogistic.com
                                                    </a>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="company__item company__additional-info">
                                            <div class="company__requisites">
                                                <div class="contact-item__select-item">
                                                    <label class="contact-item__descr" for="">Реквизиты:</label>
                                                    <select name="" id=""
                                                        class="filter-style common-select contact-item__select">
                                                        <option value="">BY, Беларусь</option>
                                                        <option value="">BY, Беларусь</option>
                                                        <option value="">BY, Беларусь</option>
                                                    </select>
                                                </div>
                                                <p class="company__requisites-text">
                                                    ООО «Аккомтранс Логистикс»; г. Минск, ул. Мельникайте, д.4/2, офис
                                                    510Б;
                                                    УНП 193948300;<br>
                                                    BY17ALFA30122253450040270000(BYN)
                                                    BY62ALFA30122253450010270000(RUB)<br>
                                                    BY47ALFA30122253450020270000(USD)<br>
                                                    BY32ALFA30122253450030270000(EUR)<br>
                                                    ЗАО Альфа-Банк SWIFT: ALFABY2X
                                                </p>
                                            </div>
                                            <div class="company__verification verification-company">
                                                <div class="verification-company__header flex">
                                                    <h5 class="title verification-company__title">
                                                        Верификация
                                                    </h5>
                                                    <a href="#" class="blue-btnlink verification-company__about-link">
                                                        О проверке?
                                                    </a>
                                                </div>
                                                <ul class="check-list verification-company__list">
                                                    <li class="check-list__item verification-company__item flex">
                                                        Юр. Лицо
                                                        <button class="info-btn verification-company__info-btn"
                                                            aria-label="Информация">
                                                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g opacity="0.4">
                                                                    <path
                                                                        d="M5.5 0C2.4599 0 0 2.46011 0 5.5C0 8.5401 2.46011 11 5.5 11C8.5401 11 11 8.53989 11 5.5C11 2.4599 8.53987 0 5.5 0ZM5.5 10.1406C2.93492 10.1406 0.859375 8.06491 0.859375 5.5C0.859375 2.93492 2.93509 0.859375 5.5 0.859375C8.06508 0.859375 10.1406 2.93509 10.1406 5.5C10.1406 8.06508 8.06489 10.1406 5.5 10.1406Z"
                                                                        fill="#236EFF" />
                                                                    <path
                                                                        d="M5.5 4.60547C5.26268 4.60547 5.07031 4.79784 5.07031 5.03516V7.80219C5.07031 8.03951 5.26268 8.23188 5.5 8.23188C5.73732 8.23188 5.92969 8.03949 5.92969 7.80217V5.03516C5.92969 4.79784 5.73732 4.60547 5.5 4.60547Z"
                                                                        fill="#236EFF" />
                                                                    <path
                                                                        d="M5.5 4.07813C5.82037 4.07813 6.08008 3.81842 6.08008 3.49805C6.08008 3.17768 5.82037 2.91797 5.5 2.91797C5.17963 2.91797 4.91992 3.17768 4.91992 3.49805C4.91992 3.81842 5.17963 4.07813 5.5 4.07813Z"
                                                                        fill="#236EFF" />
                                                                </g>
                                                            </svg>
                                                        </button>
                                                    </li>
                                                    <li class="check-list__item verification-company__item">Документы
                                                    </li>
                                                    <li class="check-list__item verification-company__item">Офис, фото,
                                                        видео</li>
                                                    <li class="check-list__item verification-company__item flex">
                                                        Телефоны
                                                        <button
                                                            class="blue-btnlink verification-company__confirm-phones">
                                                            Подтвердить
                                                        </button>
                                                    </li>
                                                    <li class="check-list__item verification-company__item">
                                                        Платеж на счет
                                                    </li>
                                                    <li
                                                        class="check-list__item verification-company__item verification-company__item--not-verified">
                                                        Репутация по сервису <a href="#">картотека</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="company__metrics metrics-company">
                                        <div class="metrics-company__items flex">
                                            <div class="metrics-item metrics-company__item">
                                                <h6 class="title metrics-item__title metrics-company__item-title">
                                                    Метрики порядочности
                                                </h6>
                                                <div class="metrics-company__list-inner flex">
                                                    <ul class="small-list metrics-company__list">
                                                        <li class="small-list__item">На ZIGMUS: <span>1 год</span>
                                                        </li>
                                                        <li class="small-list__item">Всего заказов: <span>254</span>
                                                        </li>
                                                        <li class="small-list__item">Отзывы: <span>2</span></li>
                                                    </ul>
                                                    <ul class="metrics-company__list small-list">
                                                        <li class="small-list__item">Спорных ситуаций: <span>0</span>
                                                        </li>
                                                        <li class="small-list__item">Жалоб с его стороны:
                                                            <span>0</span></li>
                                                        <li class="small-list__item">Жалоб на него: <span>0</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="metrics-item metrics-company__item">
                                                <h6 class="title metrics-item__title metrics-company__item-title">
                                                    Метрики комфорта
                                                </h6>
                                                <ul class="small-list metrics-company__list">
                                                    <li class="small-list__item">Средний ответ на отклик: <span>30
                                                            минут</span></li>
                                                    <li class="small-list__item">Среднее время ответа на сообщения:
                                                        <span>40 минут</span></li>
                                                    <li class="small-list__item">Среднее время оплаты:
                                                        <span>Сразу</span></li>
                                                    <li class="small-list__item">Среднее время отправки документов:
                                                        <span>1 день</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <button class="blue-btnlink company__edit-btn">
                                            Редактировать
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/_popups.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>