<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="p-profile">
            <div class="container">
                <div class="p-profile__wrapper">
            <div class="p-profile__content your-status__content">
                <nav class="breadcrumbs">
                    <a class="breadcrumbs__item" href="#">
                        <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                fill="#343434" />
                        </svg>
                        Хлебные крошки
                    </a>
                </nav>

                <div class="how-it-works__content">
                    <div class="start__header flex">
                        <h3 class="section__title start__title section__title--left">
                            Как работает ZIGMUS
                        </h3>
                        <div class="tabs start__tabs tabs--mini">
                            <a href="#start-tab-1" class="tab start__tab tab--mini tab--active">Когда нужен груз</a>
                            <a href="#start-tab-2" class="tab start__tab tab--mini">Когда нужен транспорт</a>
                        </div>
                    </div>
                    <a class="video-link start__video video-link--blue how-it-works__video-link" href="#">
                        <div class="video-player video-link__player video-player--small video-player--blue">
                            <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.71777 3.97089C8.38444 4.35579 8.38444 5.31804 7.71777 5.70294L1.71777 9.16704C1.05111 9.55194 0.217774 9.07082 0.217774 8.30102L0.217774 1.37281C0.217774 0.603012 1.05111 0.121887 1.71777 0.506787L7.71777 3.97089Z"
                                    fill="#F5F9FF" />
                            </svg>
                        </div>
                        Видео<br>
                        о платформе
                    </a>

                    <h2 class="how-it-works__title">Найти груз</h2>

                    <div class="how-it-works__block">
                        <div class="how-it-works__block-info-img">
                            <img src="../img/how-it-works-img.svg" alt="">

                        </div>
                        <div class="how-it-works__block-descr">
                            <h2 class="how-it-works__block-descr-number">01</h2>
                            <h4 class="how-it-works__block-descr-title">Находите выгодный груз</h4>
                            <p class="how-it-works__block-descr-text">На бирже или аукционе</p>
                            <p class="how-it-works__block-descr-text">Или можете разместить свой транспорт
                                на бирже и получать отклики от грузовладельцев</p>
                        </div>
                    </div>
                    <div class="how-it-works__block">
                        <div class="how-it-works__block-info-img">
                            <img src="../img/how-it-works-img.svg" alt="">

                        </div>
                        <div class="how-it-works__block-descr">
                            <h2 class="how-it-works__block-descr-number">02</h2>
                            <h4 class="how-it-works__block-descr-title">Оставляете отлкик на груз или подтвержадете предложение</h4>
                            <p class="how-it-works__block-descr-text">В личном кабинете</p>
                        </div>
                    </div>
                    <div class="how-it-works__block">
                        <div class="how-it-works__block-info-img">
                            <img src="../img/how-it-works-img.svg" alt="">

                        </div>
                        <div class="how-it-works__block-descr">
                            <h2 class="how-it-works__block-descr-number">03</h2>
                            <h4 class="how-it-works__block-descr-title">Подтвержадете условия и оплачиваете коммиссию</h4>
                            <p class="how-it-works__block-descr-text">Так же можете выставить дополнительные договоренности или изменить условия</p>
                        </div>
                    </div>
                    <div class="how-it-works__block">
                        <div class="how-it-works__block-info-img">
                            <img src="../img/how-it-works-img.svg" alt="">

                        </div>
                        <div class="how-it-works__block-descr">
                            <h2 class="how-it-works__block-descr-number">04</h2>
                            <h4 class="how-it-works__block-descr-title">Заказ принят, теперь вы можете общаться с клиентом</h4>
                            <p class="how-it-works__block-descr-text">Высылать документы, писать сообщения или получить его контакты для связи</p>
                        </div>
                    </div>
                    <h2 class="how-it-works__title">Найти груз</h2>

                    <div class="how-it-works__block">
                        <div class="how-it-works__block-info-img">
                            <img src="../img/how-it-works-img.svg" alt="">

                        </div>
                        <div class="how-it-works__block-descr">
                            <h2 class="how-it-works__block-descr-number">01</h2>
                            <h4 class="how-it-works__block-descr-title">Публикуете свой груз на биржу
                                или аукцион</h4>
                            <p class="how-it-works__block-descr-text">Или можете найти транспорт по вашему направлению и параметрам на бирже транспорта</p>
                        </div>
                    </div>
                    <div class="how-it-works__block">
                        <div class="how-it-works__block-info-img">
                            <img src="../img/how-it-works-img.svg" alt="">
                        </div>
                        <div class="how-it-works__block-descr">
                            <h2 class="how-it-works__block-descr-number">02</h2>
                            <h4 class="how-it-works__block-descr-title">Получаете отлики от перевозчиков с разными условиями и рейтингом</h4>
                            <p class="how-it-works__block-descr-text">В личном кабинете</p>
                        </div>
                    </div>
                    <div class="how-it-works__block">
                        <div class="how-it-works__block-info-img">
                            <img src="../img/how-it-works-img.svg" alt="">

                        </div>
                        <div class="how-it-works__block-descr">
                            <h2 class="how-it-works__block-descr-number">03</h2>
                            <h4 class="how-it-works__block-descr-title">Подтвержадете условия и оплачиваете коммиссию</h4>
                            <p class="how-it-works__block-descr-text">Так же можете выставить дополнительные договоренности или изменить условия</p>
                        </div>
                    </div>
                    <div class="how-it-works__block">
                        <div class="how-it-works__block-info-img">
                            <img src="../img/how-it-works-img.svg" alt="">

                        </div>
                        <div class="how-it-works__block-descr">
                            <h2 class="how-it-works__block-descr-number">04</h2>
                            <h4 class="how-it-works__block-descr-title">Груз отправлен! Теперь вам доступны контакты перевозчика</h4>
                            <p class="how-it-works__block-descr-text">Вы можете высылать документы, писать сообщения или получить его контакты для связи</p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
        </div>


    @@include('../../blocks/modules/footer/_footer.html')

    <div class="overlay">
        @@include('../../blocks/modules/popups/_popups.html')
    </div>
</div>
</div>
@@include('../_js.html')

</body>

</html>