<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')


        <div class="p-profile">
            <div class="container">
                <div class="p-profile__wrapper">
                    <div class="dashboard p-profile__dashboard">
                        <div class="title dashboard__title">
                            Ваш кабинет
                        </div>
                        <ul class="dashboard__menu">
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/box.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Грузы
                                        <span>1</span>
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои грузы
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Не подтверждённые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            В работе
                                            <span>1</span>
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Скрытые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Выполненные
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/delivery-truck.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Транспорт
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мой транспорт
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Не подтверждённые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            В работе
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Скрытые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Выполненные
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/auction.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Аукцион грузы
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои аукционы
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои ставки
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header dashboard__item-header--start">
                                    <img src="img/icons/dashboard/auction.svg" alt="">
                                    <div class="title dashboard__item-title dashboard__item-title--lh17">
                                        Аукцион <br>
                                        транспорт
                                    </div>
                                </div>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/building.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Компания
                                    </div>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/settings.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Настройки
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/affiliate-marketing.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Реф. программа
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/discount.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Ваша скидка
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/megaphone.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Реклама
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <button id="exit" class="button dashboard-btn dashboard__btn button--transparent">
                            Выйти
                        </button>
                    </div>
                    <div class="p-profile__content">
                        <nav class="breadcrumbs">
                            <a class="breadcrumbs__item" href="#">
                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                        fill="#343434" />
                                </svg>
                                Хлебные крошки
                            </a>
                        </nav>
                        <div class="p-profile__content-inner flex">
                            <div class="p-profile__body">
                                <ol class="p-profile__steps">
                                    <li class="p-profile__step p-profile__step--active">
                                        Ваш профиль
                                    </li>
                                    <li class="p-profile__step">
                                        Профиль компании
                                    </li>
                                    <li class="p-profile__step">
                                        Верефикация
                                    </li>
                                </ol>
                                <div id="step-1">
                                    <h3 class="title section-title p-profile__head p-profile__title">
                                        Вы зарегестрировались! Заполните свой профиль, чтобы начать работу
                                    </h3>
                                    <div class="profile__item profile__item--border">
                                        <h5 class="title profile__item-title">Общая информация</h5>
                                        <form action="#" class="profile__form profile__fields profile__item">
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">Ваше имя и фамилия</label>
                                                    <div class="field__value flex">
                                                        <input class="input field__value" type="text">
                                                        <button class="reset-filter-btn"></button>
                                                    </div>
                                                </div>
                                                <div class="field profile__field">
                                                    <label class="label">Вы?</label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            Перевозчик, владелец
                                                        </option>
                                                        <option value="" class="field__value">
                                                            Перевозчик, владелец
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="field phone-field profile__field">
                                                    <label class="label" for="phone">
                                                        Ваш номер телефона?
                                                    </label>
                                                    <select class="filter-style" name="country">
                                                        <option value="by">BY</option>
                                                        <option value="ru">RU</option>
                                                        <option value="ua">UA</option>
                                                    </select>
                                                    <input type="tel" name="phone"
                                                        placeholder="+375 (_ _) _ _ _-_ _-_ _">
                                                </div>
                                                <div class="plus-btn profile__plus-btn add-phone">
                                                    Добавить еще телефон
                                                </div>
                                            </div>
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">Ваш e-mail</label>
                                                    <input class="input profile__field-input" type="email" name=""
                                                        id="">
                                                    <button class="reset-filter-btn"></button>
                                                </div>
                                                <div class="field profile__field profile__img-choice flex">
                                                    <div class="profile__field-file">
                                                        <label class="plus-btn">
                                                            Добавить свое фото
                                                            <input class="filter-style" type="file" name="avatar"
                                                                id="avatar">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="profile__field profile__messangers">
                                                    <p class="profile__messangers-descr">
                                                        По этому телефону есть
                                                    </p>
                                                    <div class="profile__messangers-line flex">
                                                        <label>
                                                            <input type="checkbox" name="viber" class="filter-style">
                                                            Viber
                                                        </label>
                                                        <label>
                                                            <input type="checkbox" name="whatsup" class="filter-style">
                                                            WhatsApp
                                                        </label>
                                                        <label>
                                                            <input type="checkbox" name="telegram" class="filter-style">
                                                            Telegram
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <form action="#" id="email-notification" class="profile__item">
                                        <label class="profile__email-choice flex">
                                            Вам присылать уведомления на почту
                                            <div class="switch">
                                                <input type="checkbox" name="email" id="email" checked>
                                                <span></span>
                                            </div>
                                        </label>
                                    </form>
                                </div>
                                <div id="step-2">
                                    <h3 class="title section-title p-profile__head p-profile__title">
                                        Отлично Егор! Заполните профиль вашей компании
                                    </h3>
                                    <div class="profile__item">
                                        <h5 class="title profile__item-title">Информация о компании</h5>
                                        <form action="#" class="profile__form grid">
                                            <div class="field profile__field profile__field-registration">
                                                <label class="label">Вы?</label>
                                                <select class="filter-style" name="" id="">
                                                    <option value="" class="field__value">
                                                        Перевозчик
                                                    </option>
                                                    <option value="" class="field__value">
                                                        Грузовладелец
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="field profile__field profile__field-registration">
                                                <label class="label">
                                                    Название вашей компании?
                                                </label>
                                                <div class="field__value">
                                                    <input type="text" class="input field__value">
                                                    <button class="reset-filter-btn"></button>
                                                </div>
                                            </div>
                                            <div class="field profile__field profile__field-registration profile__img-choice flex">
                                                <div class="profile__field-file">
                                                    <label class="plus-btn">
                                                        Добавить логотип
                                                        <input class="filter-style" type="file" name="logo" id="logo">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="field profile__field profile__field-registration">
                                                <label class="label">
                                                    Размер автопарка?
                                                </label>
                                                <div class="field__value">
                                                    <input type="text" class="input field__value">
                                                    <button class="reset-filter-btn"></button>
                                                </div>
                                            </div>
                                            <div class="field profile__field profile__field-registration">
                                                <label class="label">Главный офис компании?</label>
                                                <select class="filter-style" name="" id="">
                                                    <option value="" class="field__value">
                                                        Беларусь, Минск
                                                    </option>
                                                    <option value="" class="field__value">
                                                        Беларусь, Минск
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="field profile__field profile__field-registration">
                                                <label class="label">Всего офисов?</label>
                                                <select class="filter-style" name="" id="">
                                                    <option value="" class="field__value">
                                                        2
                                                    </option>
                                                    <option value="" class="field__value">
                                                        3
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="field profile__field profile__field-registration">
                                                <label class="label">Добавить водителей</label>
                                                <select class="filter-style" name="" id="">
                                                    <option value="belarus" class="field__value">
                                                        Никита Сардаров
                                                    </option>
                                                    <option value="russia" class="field__value">
                                                        Никита Сардаров
                                                    </option>
                                                    <option value="poland" class="field__value">
                                                        Никита Сардаров
                                                    </option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="profile__item profile__item--border">
                                        <h5 class="title profile__item-title">Информация о компании</h5>
                                        <form action="#" class="profile__form">
                                            <div class="field profile__field">
                                                <label class="label">Страна?</label>
                                                <select class="filter-style" name="" id="">
                                                    <option value="belarus" class="field__value">
                                                        Беларусь
                                                    </option>
                                                    <option value="russia" class="field__value">
                                                        Россия
                                                    </option>
                                                    <option value="poland" class="field__value">
                                                        Польша
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="field profile__field">
                                                <label class="label">
                                                    Юр.лицо?
                                                </label>
                                                <input class="input field__value" type="text">
                                                <button class="reset-filter-btn"></button>
                                            </div>
                                            <div class="field profile__field">
                                                <label class="label">
                                                    Юр. адрес?
                                                </label>
                                                <input class="input field__value" type="text">
                                                <button class="reset-filter-btn"></button>
                                            </div>
                                            <div class="field profile__field">
                                                <label class="label">
                                                    УНП?
                                                </label>
                                                <input class="input field__value">
                                                <button class="reset-filter-btn"></button>
                                            </div>
                                            <div class="profile__bills">
                                                <div class="field flex profile__field profile__bills-field">
                                                    <div class="profile__field-inner">
                                                        <label class="label">
                                                            Расчетный счет?
                                                        </label>
                                                        <input class="input field__value"
                                                            placeholder="BY17ALFA30122253450040270000">
                                                        <button class="reset-filter-btn"></button>
                                                    </div>
                                                    <div class="profile__field-inner mini-select">
                                                        <label class="label">
                                                            Валюта?
                                                        </label>
                                                        <select name="currency" class="filter-style">
                                                            <option class="field__value" value="">BYN</option>
                                                            <option class="field__value" value="">ZL</option>
                                                            <option class="field__value" value="">USD</option>
                                                            <option class="field__value" value="">EUR</option>
                                                        </select>
                                                    </div>
                                                    <div class="profile__field-inner mini-select">
                                                        <label class="label">
                                                            Название банка
                                                        </label>
                                                        <select name="bank" class="filter-style">
                                                            <option class="field__value" value="">Альфа банк</option>
                                                            <option class="field__value" value="">Альфа банк</option>
                                                            <option class="field__value" value="">Альфа банк</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div id="add-bill" class="plus-btn profile__plus-btn profile__add-btn">
                                                    Добавить еще счет
                                                </div>
                                            </div>
                                            <div class="field profile__field">
                                                <label class="label">
                                                    SWIFT?
                                                </label>
                                                <input class="input field__value" placeholder="ALFABY2X">
                                                <button class="reset-filter-btn"></button>
                                            </div>
                                            <div class="profile__field-wrap">
                                                <div class="field profile__field-file profile__field-file--certificate">
                                                    <label class="plus-btn">
                                                        Добавить свидетельство о регистрации
                                                        <input class="filter-style" type="file" name="reg-doc" id="">
                                                    </label>
                                                </div>
                                                <p class="label profile__field-descr">
                                                    По нему ваши реквизиты будут подтверждены и вы получите верефикацию
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="add-requisites"
                                        class="plus-btn profile__item profile__add-btn profile__add-btn--ml">
                                        Добавить еще реквизиты
                                    </div>
                                    <div class="profile__item">
                                        <h5 class="title profile__item-title">Контакты</h5>
                                        <form action="#" class="profile__form">
                                            <div class="profile__field-item profile__fields">
                                                <div class="profile__fields-col">
                                                    <div class="field phone-field profile__field">
                                                        <label class="label" for="phone">
                                                            Ваш номер телефона?
                                                        </label>
                                                        <select class="filter-style" name="country">
                                                            <option value="by">BY</option>
                                                            <option value="ru">RU</option>
                                                            <option value="ua">UA</option>
                                                        </select>
                                                        <input type="tel" name="phone"
                                                            placeholder="+375 (_ _) _ _ _-_ _-_ _">
                                                    </div>
                                                    <div class="plus-btn profile__plus-btn add-phone">
                                                        Добавить еще телефон
                                                    </div>
                                                </div>
                                                <div class="profile__fields-col">
                                                    <p class="profile__messangers-descr">
                                                        По этому телефону есть
                                                    </p>
                                                    <div class="profile__messangers flex">
                                                        <label>
                                                            <input type="checkbox" name="viber" class="filter-style">
                                                            Viber
                                                        </label>
                                                        <label>
                                                            <input type="checkbox" name="whatsup" class="filter-style">
                                                            WhatsApp
                                                        </label>
                                                        <label>
                                                            <input type="checkbox" name="telegram" class="filter-style">
                                                            Telegram
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="profile__fields-col profile__field-item">
                                                <div
                                                    class="field profile__field profile__field-item profile__fields-col">
                                                    <label class="label">Ваш e-mail</label>
                                                    <input type="email" class="input field__value">
                                                    <button class="reset-filter-btn"></button>
                                                </div>
                                                <div class="plus-btn profile__plus-btn add-email">
                                                    Добавить еще e-mail
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="step-3">
                                    <div class="p-profile__head">
                                        <h3 class="title section-title p-profile__title">
                                            Ваша компания зарегестрирована, пройдите верефикацию
                                        </h3>
                                        <p class="p-profile__subtitle">
                                            чтобы получить галочку и больше доверия от партнеров и откликов
                                        </p>
                                    </div>
                                    <div class="profile__item confirm-payment">
                                        <div class="title profile__item-title flex">
                                            <h5>Подтвердите платежи со счёта</h5>
                                            <p>*Обязательно для начала работы</p>
                                        </div>
                                        <div class="flex profile__item-inner confirm-payment__inner">
                                            <div class="verification-item__left verification-item__content">
                                                <p class="verification-item__instruction confirm-payment__title">
                                                    Перевидите на наш счет 5 евро
                                                </p>
                                                <p class="profile__item-descr verification-item__instruction-descr">
                                                    После перевода, на ваш баланс поступят средства
                                                </p>
                                            </div>
                                            <button id="bill-request" class="button verification-item__btn">
                                                Запросить счет на оплату
                                            </button>
                                        </div>
                                    </div>
                                    <div class="profile__item verification-item">
                                        <h5 class="title profile__item-title">Подтвердить Юр.лицо</h5>
                                        <div
                                            class="flex verification-item__inner profile__item-inner profile__item-inner--border">
                                            <div class="verification-item__left verification-item__info">
                                                ООО «Аккомтранс Логистикс»; г. Минск, ул. Мельникайте, д.4/2, офис 510Б;
                                                УНП 193948300; BY17ALFA30122253450040270000(BYN)
                                                BY62ALFA30122253450010270000(RUB)<br>
                                                BY47ALFA30122253450020270000(USD)<br>
                                                BY32ALFA30122253450030270000(EUR)<br>
                                                ЗАО Альфа-Банк SWIFT: ALFABY2X
                                                <img class="verification-item__img" src="img/office.jpg"
                                                    alt="Здание офиса компании">
                                            </div>
                                            <div class="verification-item__right">
                                                <div class="verification-item__status-label">Проверка</div>
                                                <p class="verification-item__instruction verification-item__right-text">
                                                    Наш модератор, получил ваше свидетельство о регистрации
                                                    и проводит проверку
                                                </p>
                                                <button class="button verification-item__btn">
                                                    Отправить на проверку
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile__item">
                                        <div class="flex profile__item-inner verification-item__inner">
                                            <div class="verification-item__left verification-item__info">
                                                ООО «Аккомтранс Логистикс»; г. Минск, ул. Мельникайте, д.4/2, офис 510Б;
                                                УНП 193948300; BY17ALFA30122253450040270000(BYN)
                                                BY62ALFA30122253450010270000(RUB)<br>
                                                BY47ALFA30122253450020270000(USD)<br>
                                                BY32ALFA30122253450030270000(EUR)<br>
                                                ЗАО Альфа-Банк SWIFT: ALFABY2X
                                            </div>
                                            <div class="verification-item__right">
                                                <div class="verification-item__status-label">Не проверен</div>
                                                <p class="verification-item__instruction verification-item__right-text">
                                                    Загрузите фото или скан. свидетельства о регистрации
                                                    и оправьте на проверку
                                                </p>
                                                <div
                                                    class="field profile__field-file profile__img-choice verification-item__field">
                                                    <label class="plus-btn">
                                                        Добавить фото или скан
                                                        <input class="filter-style" type="file" name="" id="">
                                                    </label>
                                                </div>
                                                <button class="button verification-item__btn">
                                                    Отправить на проверку
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile__item verification-item">
                                        <h5 class="title profile__item-title">Подтвердить офис</h5>
                                        <div class="flex profile__item-inner verification-item__inner">
                                            <div class="verification-item__left verification-item__content">
                                                <p class="verification-item__instruction">
                                                    Добавьте фото или видео вашего офиса, чтобы подтвердитье его наличие
                                                </p>
                                                <p class="verification-item__instruction-descr">
                                                    На фото должен быть открыт сайт ZIGMUS.COM
                                                </p>
                                            </div>
                                            <div class="verification-item__right verification-item__buttons">
                                                <div
                                                    class="field profile__field-file profile__img-choice verification-item__field">
                                                    <label class="plus-btn">
                                                        Добавить фото или скан
                                                        <input class="filter-style" type="file" name="" id="">
                                                    </label>
                                                </div>
                                                <button class="button verification-item__btn">
                                                    Отправить на проверку
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile__item verification-item contact-verification">
                                        <h5 class="title profile__item-title">Подтвердите контакты</h5>
                                        <div class="profile__item-inner">

                                            <div class="contact-verification__item">
                                                <div
                                                    class="field phone-field profile__field contact-verification__item-field">
                                                    <label class="label" for="phone">
                                                        Номер телефона
                                                    </label>
                                                    <select class="filter-style" name="country">
                                                        <option value="by">BY</option>
                                                        <option value="ru">RU</option>
                                                        <option value="ua">UA</option>
                                                    </select>
                                                    <input type="tel" name="phone" placeholder="+375 (29) 360 - 45- 77"
                                                        readonly>
                                                </div>
                                                <p class="contact-verification__item-status">Подтвержден</p>
                                            </div>
                                            <div class="contact-verification__item">
                                                <div
                                                    class="field phone-field profile__field contact-verification__item-field">
                                                    <label class="label" for="phone">
                                                        Номер телефона
                                                    </label>
                                                    <select class="filter-style" name="country">
                                                        <option value="by">BY</option>
                                                        <option value="ru">RU</option>
                                                        <option value="ua">UA</option>
                                                    </select>
                                                    <input type="tel" name="phone" placeholder="+375 (44) 351 - 75- 97"
                                                        readonly>
                                                </div>
                                                <button class="button verification-item__btn" id="send-sms">
                                                    Выслать SMS
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <aside class="p-profile__aside">
                                <div class="p-profile__add p-profile__aside-item">
                                    <div class="p-profile__fullness flex">
                                        <div class="p-profile__fullness-percent">
                                            87%
                                        </div>
                                        <div class="p-profile__aside-item-text p-profile__fullness-text">
                                            Заполните профиль полностью
                                        </div>
                                    </div>
                                    <button id="add-profile" class="button p-profile__aside-btn">
                                        Добавить профиль
                                    </button>
                                    <button id="skip-second-step" class="p-profile__aside-blue-btn flex">Пропустить
                                        шаг</button>
                                </div>
                                <div class="p-profile__aside-item p-profile__skip-step">
                                    <p class="p-profile__aside-item-text p-profile__skip-step-text">Вы можете,
                                        пропустить
                                        этот шаг, начать работу и заполнить позже</p>
                                    <button id="skip-third-step" class="button p-profile__aside-btn">
                                        Пропустить шаг
                                    </button>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @@include('../../blocks/modules/footer/_footer.html')

    <div class="overlay">
        @@include('../../blocks/modules/popups/_popups.html')
    </div>
    </div>

    @@include('../_js.html')

</body>

</html>