<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <section class="top-page">
            <div class="container">
                <nav class="breadcrumbs">
                    <a class="breadcrumbs__item" href="#">
                        <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                fill="#343434" />
                        </svg>
                        Хлебные крошки
                    </a>
                </nav>
                <h1 class="title page-title top-page__title title--white">
                    Как использовать ZIGMUS
                </h1>
            </div>
        </section>

        <div class="container">
            <div class="knowledge-base__cols">
                <div class="knowledge-base__start-working-col">
                    <div class="knowledge-base__start-working-block knowledge-base__start-working-block--active">
                        <h4>Начало работы</h4>
                        <div class="knowledge-base__start-working-block-content knowledge-base__start-working-block-content--active">
                            <ul class="knowledge-base__start-working-block-list">
                                <li>Как находить грузы</li>
                                <li>Как получать заказы на свой транспорт</li>
                             </ul>
                        </div>
                    </div>
                    <div class="knowledge-base__start-working-block">
                        <h4>Грузы</h4>
                        <div class="knowledge-base__start-working-block-content">
                            <ul class="knowledge-base__start-working-block-list">
                                <li>Как находить грузы</li>
                                <li>Как получать заказы на свой транспорт</li>
                             </ul>
                        </div>
                    </div>
                    <div class="knowledge-base__start-working-block">
                        <h4>Транспорт</h4>
                        <div class="knowledge-base__start-working-block-content">
                            <ul class="knowledge-base__start-working-block-list">
                                <li>Как находить грузы</li>
                                <li>Как получать заказы на свой транспорт</li>
                             </ul>
                        </div>
                    </div>
                    <div class="knowledge-base__start-working-block">
                        <h4>Аукцион</h4>
                        <div class="knowledge-base__start-working-block-content">
                            <ul class="knowledge-base__start-working-block-list">
                                <li>Как находить грузы</li>
                                <li>Как получать заказы на свой транспорт</li>
                             </ul>
                        </div>
                    </div>
                    <div class="knowledge-base__start-working-block">
                        <h4>Частые вопросы</h4>
                        <div class="knowledge-base__start-working-block-content">
                            <ul class="knowledge-base__start-working-block-list">
                                <li>Как находить грузы</li>
                                <li>Как получать заказы на свой транспорт</li>
                             </ul>
                        </div>
                    </div>
                </div>
                <div class="knowledge-base__question-descr-col">
                    <div class="knowledge-base__question-descr knowledge-base__question-descr--active">
                        <h4 class="knowledge-base__question-descr-title">Описание вопроса</h4>
                        <div class="knowledge-base__question-descr-content knowledge-base__question-descr-content--active">
                            <img class="knowledge-base__question-descr-img" src="../../img/icons/question-descr.svg" alt="">
                            <h3 class="knowledge-base__question-descr-text-title">Заголовок</h3>
                            <p class="knowledge-base__question-descr-text">Уходящий год был очень тяжелым для отрасли автомобильных грузоперевозок. В марте-мае предприниматели столкнулисьс резким спадом спроса на перевозки, закрытием границ, снижением тарифов и неплатежами клиентов, подорожанием техники и запчастей. Как в этой ситуации выживает отрасль?
                                Что ждут руководители транспортных компаний от 2021 года? На эти и другие вопросы Infopro54.ru ответил президент Сибирской ассоциации автомобильных перевозчиков (СААП) Вячеслав Трунаев.</p>
                        </div>
                    </div>
                    <div class="knowledge-base__question-descr">
                        <h4 class="knowledge-base__question-descr-title">Описание вопроса</h4>
                        <div class="knowledge-base__question-descr-content">
                            <img class="knowledge-base__question-descr-img" src="../../img/icons/question-descr.svg" alt="">
                            <h3 class="knowledge-base__question-descr-text-title">Заголовок</h3>
                            <p class="knowledge-base__question-descr-text">Уходящий год был очень тяжелым для отрасли автомобильных грузоперевозок. В марте-мае предприниматели столкнулисьс резким спадом спроса на перевозки, закрытием границ, снижением тарифов и неплатежами клиентов, подорожанием техники и запчастей. Как в этой ситуации выживает отрасль?
                                Что ждут руководители транспортных компаний от 2021 года? На эти и другие вопросы Infopro54.ru ответил президент Сибирской ассоциации автомобильных перевозчиков (СААП) Вячеслав Трунаев.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/_popups.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>