<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/about/_about.html')

        @@include('../../blocks/modules/benefits/_benefits.html')

        @@include('../../blocks/modules/video/_video.html')

        <!-- @@include('../../blocks/modules/opportunities/_opportunities.html') -->

        @@include('../../blocks/modules/clients/_clients.html')

        @@include('../../blocks/modules/start/_start.html')

        @@include('../../blocks/modules/registration/_registration.html')

        @@include('../../blocks/modules/logos/_logos.html')

        @@include('../../blocks/modules/questions/_questions.html')

        @@include('../../blocks/modules/orders-tape/_orders-tape.html')

        <section class="section news s-news">
            <div class="container">
                <h3 class="title section__title section__big-title s-news__title">
                    Новости ZIGMUS
                </h3>
                <article class="grid news__cards">
                    @@include('../../blocks/modules/news/_news-card.html')
                    @@include('../../blocks/modules/news/_news-card.html')
                    @@include('../../blocks/modules/news/_news-card.html')
                </article>
                <a class="button section-btn news__btn" href="news.html">
                    Все новости
                </a>
            </div>
        </section>

        @@include('../../blocks/modules/popular-directions/_popular-directions.html')

        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/_popups.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>