<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="top-page news-page__header">
            <div class="container">
                <nav class="breadcrumbs">
                    <a class="breadcrumbs__item" href="#">
                        <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                fill="#343434" />
                        </svg>
                        Хлебные крошки
                    </a>
                </nav>
                <h1 class="title page-title top-page__title title--white">
                    Новости от ZIGMUS
                </h1>
            </div>
        </div>

        <section class="section news section--blue">
            <div class="container">
                <div class="card news__topics flex">
                    <h3 class="title section-title news__topics-title">Темы</h3>
                    <div class="tabs news__tabs">
                        <a href="#news-tab-1" class="tab news__tab tab--active">
                            Грузовладельцы
                        </a>
                        <a href="#news-tab-2" class="tab news__tab">
                            Перевозчики
                        </a>
                        <a href="#news-tab-3" class="tab news__tab">
                            Горячие новости
                        </a>
                        <a href="#news-tab-4" class="tab news__tab">
                            Обновления
                        </a>
                    </div>
                </div>

                <article id="news-tab-1" class="grid tabs__content news__cards tabs__content--active">
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Грузовладельцы</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </article>

                <article id="news-tab-2" class="grid tabs__content news__cards">
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Перевозчики</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </article>

                <article id="news-tab-3" class="grid tabs__content news__cards">
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Горячие новости</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Горячие новости</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Горячие новости</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Горячие новости</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Горячие новости</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Горячие новости</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </article>

                <article id="news-tab-4" class="grid tabs__content news__cards">
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Обновления</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Обновления</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card news-card news__card">
                        <span class="news-card__img" style="background-image: url(img/news/news-item.jpg);">
                            <div class="news-card__topic">Обновления</div>
                        </span>
                        <div class="news-card__content">
                            <p class="news-card__descr">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </p>
                            <div class="news-card__footer">
                                <a class="news-card__more-link" href="one-news.html">Подробнее</a>
                                <div class="news-card__publication-date">
                                    Публикация <time datetime="2021-01-02">2 января</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </article>

                <button class="button section-btn news__btn" href="#">
                    Показать еще
                </button>
            </div>
        </section>

        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/_popups.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>