<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="p-news-item">
            <div class="container">
                <nav class="breadcrumbs">
                    <a href="index.html">Хлебные крошки</a>
                    <span></span>
                </nav>
                <div class="p-news-item__inner">
                    <main>
                        <article class="news-item">
                            <h4 class="title section-title news-item__title">
                                Грузоперевозчики все чаще сталкиваются с банкротством клиентов
                            </h4>
                            <div class="news-item__labels">
                                <div class="category news-item__label category--blue-bg">
                                    Грузовладельцы
                                </div>
                                <div class="category news-item__label category--blue-bg">
                                    Публикация 2 января
                                </div>
                            </div>
                            <div class="news-item__body">
                                <img src="img/news/news.jpg" alt="" class="news-item__img">
                                <div class="title news-item__subtitle">
                                    При этом тарифы на перевозки, по сравнению с 2019 годом, сократились в среднем на
                                    15-20%.
                                </div>
                                <div class="news-item__text">
                                    <p>
                                        Уходящий год был очень тяжелым для отрасли автомобильных грузоперевозок. В
                                        марте-мае
                                        предприниматели столкнулись с резким спадом спроса на перевозки, закрытием
                                        границ,
                                        снижением
                                        тарифов и
                                        неплатежами
                                        клиентов, подорожанием техники и запчастей. Как в этой ситуации выживает
                                        отрасль?
                                    </p>
                                    <p>
                                        Что ждут руководители транспортных компаний от 2021 года? На эти и другие
                                        вопросы
                                        Infopro54.ru
                                        ответил президент Сибирской ассоциации автомобильных перевозчиков (СААП)
                                        Вячеслав
                                        Трунаев.
                                    </p>
                                </div>
                                <hr>
                                <div class="news-item__text">
                                    <p>
                                        — Вячеслав Станиславович, как в 2020 году изменился рынок транспортных услуг, по
                                        сравнению с
                                        2019
                                        годом? Насколько сильно упал спрос? Восстановился ли он сейчас?
                                    </p>
                                    <p>
                                        — Большинство членов СААП отмечало резкое (кто-то — на 30-40%, кто-то — на 70%)
                                        сокращение
                                        спроса
                                        весной 2020 года. С июня он начал увеличиваться.
                                    </p>
                                    <p>
                                        Одни перевозчики считают, что сейчас спрос уже вернулся к прошлогоднему уровню,
                                        другие
                                        уверены,
                                        что
                                        полного восстановления не произошло.
                                    </p>
                                    <p>
                                        При этом отдельные компании, в основном те, кто специализируется на перевозке
                                        продуктов
                                        питания,
                                        говорят, что спрос на их услуги сильно не менялся.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </main>
                    <aside class="news__aside aside-news">
                        <div class="aside-news__col aside-news__articles">
                            <div class="aside-news__pagination">
                                <a href="#"
                                    class="aside-news__pagination-link aside-news__pagination-link--prev">Пред</a>
                                <a href="#"
                                    class="aside-news__pagination-link aside-news__pagination-link--next">След</a>
                            </div>
                            <article class="aside-news__other-news">
                                <h5 class="title aside-news__title">Другие новости</h5>
                                <div class="aside-news__items">
                                    <article class="aside-news__item">
                                        <a href="#" class="aside-news__item-link">
                                            <img src="img/news/aside-news.jpg" alt="" class="aside-news__item-img">
                                            <div class="aside-news__item-descr">Грузоперевозчики все чаще...</div>
                                        </a>
                                    </article>
                                    <article class="aside-news__item">
                                        <a href="#" class="aside-news__item-link">
                                            <img src="img/news/aside-news.jpg" alt="" class="aside-news__item-img">
                                            <div class="aside-news__item-descr">Грузоперевозчики все чаще...</div>
                                        </a>
                                    </article>
                                    <article class="aside-news__item">
                                        <a href="#" class="aside-news__item-link">
                                            <img src="img/news/aside-news.jpg" alt="" class="aside-news__item-img">
                                            <div class="aside-news__item-descr">Грузоперевозчики все чаще...</div>
                                        </a>
                                    </article>
                                    <article class="aside-news__item">
                                        <a href="#" class="aside-news__item-link">
                                            <img src="img/news/aside-news.jpg" alt="" class="aside-news__item-img">
                                            <div class="aside-news__item-descr">Грузоперевозчики все чаще...</div>
                                        </a>
                                    </article>
                                    <article class="aside-news__item">
                                        <a href="#" class="aside-news__item-link">
                                            <img src="img/news/aside-news.jpg" alt="" class="aside-news__item-img">
                                            <div class="aside-news__item-descr">Грузоперевозчики все чаще...</div>
                                        </a>
                                    </article>
                                    <article class="aside-news__item">
                                        <a href="#" class="aside-news__item-link">
                                            <img src="img/news/aside-news.jpg" alt="" class="aside-news__item-img">
                                            <div class="aside-news__item-descr">Грузоперевозчики все чаще...</div>
                                        </a>
                                    </article>
                                </div>
                            </article>
                        </div>

                        <nav class="aside-news__col aside-news__nav">
                            <h5 class="title aside-news__nav-item aside-news__title aside-news__nav-title">
                                Навигация
                            </h5>
                            <div class="aside-news__nav-item">
                                <h6 class="aside-news__nav-menu-title">
                                    Основное
                                </h6>
                                <ul class="aside-news__nav-menu-list">
                                    <li class="aside-news__nav-menu-item">
                                        <a href="" class="aside-news__nav-menu-link">
                                            Грузы
                                        </a>
                                    </li>
                                    <li class="aside-news__nav-menu-item">
                                        <a href="transport.html" class="aside-news__nav-menu-link">
                                            Транспорт
                                        </a>
                                    </li>
                                    <li class="aside-news__nav-menu-item">
                                        <a href="auction.html" class="aside-news__nav-menu-link">
                                            Аукцион
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="aside-news__nav-item">
                                <h6 class="aside-news__nav-menu-title">
                                    Дополнительно
                                </h6>
                                <ul class="aside-news__nav-menu-list">
                                    <li class="aside-news__nav-menu-item">
                                        <a href="about-us.html" class="aside-news__nav-menu-link">
                                            О нас
                                        </a>
                                    </li>
                                    <li class="aside-news__nav-menu-item">
                                        <a href="transport.html" class="aside-news__nav-menu-link">
                                            Как работает
                                        </a>
                                    </li>
                                    <li class="aside-news__nav-menu-item">
                                        <a href="safety.html" class="aside-news__nav-menu-link">
                                            Безопасность
                                        </a>
                                    </li>
                                    <li class="aside-news__nav-menu-item">
                                        <a href="news.html" class="aside-news__nav-menu-link">
                                            Новости
                                        </a>
                                    </li>
                                    <li class="aside-news__nav-menu-item">
                                        <a href="advertisement.html" class="aside-news__nav-menu-link">
                                            Реклама
                                        </a>
                                    </li>
                                    <li class="aside-news__nav-menu-item">
                                        <a href="contacts.html" class="aside-news__nav-menu-link">
                                            Контакты
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </aside>
                </div>
            </div>
        </div>

        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/_popups.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>