<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">

        @@include('../../blocks/modules/header/_header.html')

        <div class="p-profile">
            <div class="container">
                <div class="p-profile__wrapper">
                    <div class="p-profile__content balance__content">
                        <nav class="breadcrumbs">
                            <a class="breadcrumbs__item" href="#">
                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                        fill="#343434" />
                                </svg>
                                Хлебные крошки
                            </a>
                        </nav>

                        <div class="carrier-profile__settings-btns">
    
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9.75" stroke="#236EFF" stroke-opacity="0.5" stroke-width="0.5"/>
                                    <path opacity="0.3" d="M14.1355 13.4346L13.4201 12.2421C13.0897 11.6917 12.9151 11.0613 12.9151 10.4196V9.375C12.9151 8.05625 12.0351 6.94084 10.8317 6.58125V5.83334C10.8317 5.37375 10.458 5 9.99839 5C9.53881 5 9.16506 5.37375 9.16506 5.83334V6.58125C7.96174 6.94084 7.08174 8.05625 7.08174 9.375V10.4196C7.08174 11.0613 6.90715 11.6912 6.57715 12.2417L5.86173 13.4342C5.82298 13.4988 5.82215 13.5788 5.85923 13.6442C5.89632 13.7096 5.96507 13.75 6.04007 13.75H13.9567C14.0317 13.75 14.1009 13.7096 14.138 13.6446C14.1751 13.5796 14.1738 13.4988 14.1355 13.4346Z" fill="#236EFF"/>
                                    <path opacity="0.3" d="M8.6875 14.168C8.9225 14.6588 9.42 15.0013 9.99957 15.0013C10.5791 15.0013 11.0767 14.6588 11.3117 14.168H8.6875Z" fill="#236EFF"/>
                                    <defs>
                                    <clipPath id="clip0">
                                    <rect width="10" height="10" fill="white" transform="translate(5 5)"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                    
                            
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="10" cy="10" r="9.75" stroke="#236EFF" stroke-opacity="0.5" stroke-width="0.5"/>
                                    <path opacity="0.3" d="M9.72426 5.40176C9.77603 5.29687 9.88285 5.23047 9.99983 5.23047C10.1168 5.23045 10.2237 5.29685 10.2754 5.40174L11.4741 7.83021C11.5869 8.05855 11.8047 8.21686 12.0567 8.25346L14.7368 8.64306C14.8526 8.6599 14.9488 8.74097 14.9849 8.85224C15.0211 8.96348 14.9909 9.08561 14.9072 9.16727L12.968 11.0578C12.7856 11.2356 12.7024 11.4917 12.7454 11.7426L13.203 14.4115C13.2228 14.5268 13.1754 14.6433 13.0807 14.712C12.9861 14.7808 12.8606 14.7898 12.7571 14.7354L10.3599 13.4754C10.1345 13.3569 9.86522 13.3569 9.63978 13.4754L7.2428 14.7354C7.13925 14.7898 7.01378 14.7807 6.91916 14.712C6.82451 14.6432 6.77714 14.5267 6.7969 14.4114L7.25467 11.7427C7.29774 11.4917 7.21452 11.2356 7.03212 11.0577L5.09282 9.16729C5.00906 9.08563 4.9789 8.9635 5.01505 8.85226C5.0512 8.74101 5.14737 8.65994 5.26314 8.64308L7.94316 8.2535C8.19518 8.21686 8.41306 8.05857 8.52578 7.83019L9.72426 5.40176Z" fill="#236EFF"/>
                                    <defs>
                                    <clipPath id="clip0">
                                    <rect width="10" height="10" fill="white" transform="translate(5 5)"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                    
                                
                                    <svg class="popup-close-btn" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle opacity="0.7" cx="14" cy="14" r="13.75" stroke="#236EFF" stroke-width="0.5"/>
                                        <path d="M14.3245 14.0058L17.829 10.5013C18.057 10.2734 18.057 9.90478 17.829 9.67683C17.601 9.44887 17.2325 9.44887 17.0045 9.67683L13.5 13.1814L9.99553 9.67683C9.76747 9.44887 9.399 9.44887 9.17105 9.67683C8.94298 9.90478 8.94298 10.2734 9.17105 10.5013L12.6755 14.0058L9.17105 17.5104C8.94298 17.7383 8.94298 18.1069 9.17105 18.3348C9.28465 18.4486 9.43402 18.5057 9.58329 18.5057C9.73255 18.5057 9.88182 18.4486 9.99553 18.3348L13.5 14.8303L17.0045 18.3348C17.1182 18.4486 17.2675 18.5057 17.4167 18.5057C17.566 18.5057 17.7153 18.4486 17.829 18.3348C18.057 18.1069 18.057 17.7383 17.829 17.5104L14.3245 14.0058Z" fill="#236EFF"/>
                                        <defs>
                                        <clipPath id="clip0">
                                        <rect width="9" height="9" fill="white" transform="translate(9 9.5)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>

                        <button class="carrier-profile__coplaint-btn" type="submit">Оставить жалобу</button>

                        </div>

                        <div class="carrier-profile__columns">
                            <div class="carrier-profile__column">
                                <div class="carrier-profile__check-status">
                                    <div class="order-card__label order-card__label--urgent carrier-profile__label">
                                        Срочный
                                    </div>
                                    <div class="container-profile__head">
                                        <img src="../../img/icons/buildings.svg" alt="">
                                        <div class="profile-head__info">
                                            <div class="info__id">
                                                <span>ID</span> 00002
                                                <img src="../../img/icons/id-check.svg" alt="">
                                                <p class="cargo-order-card-popup__head-top-rating">ТОП-10</p>
                                            </div>
                                            <div class="info__statistic">
                                                <span class="profile__stats">
                                                    Логистическая компания
                                                </span>
                                            </div>
                                            <div class="info__rating">
                                                <div class="review-form__rate-yo profile__rate" data-rateyo-rating="5"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="carrier-profile__check-dropdown carrier-profile__check-dropdown--active">Проверен <span>5</span>/6</h4>
                                    <ul class="carrier-profile__check-list">
                                        <li class="entity">Юр. Лицо</li>
                                        <li>Документы</li>
                                        <li>Офис, фото, видео</li>
                                        <li>Телефоны</li>
                                        <li>Платеж на счет</li>
                                        <li class="unchecked-list-item">Репутация по сервису картотека</li>
                                    </ul>
                                    <div class="carrier-profile__footer">
                                        <a href="#">О проверке</a>
                                        <a href="#">Почему профиль закрыт?</a>
                                    </div>
                                </div>
    
                                <div class="carrier-profile__metrics-info">
                                    <h4>Крупность компании</h4>
                                    <ul class="carrier-profile__metrics-list">
                                        <li><span>Автопарк: </span>10-20</li>
                                        <li><span>Город: </span>Минск</li>
                                        <li><span>Офисов: </span>2, Минск, Польша</li>
                                        <li><span>Юр.лицо: </span>ООО</li>
                                       
                                    </ul>
                                </div>
                                <div class="carrier-profile__metrics-info">
                                    <h4>Метрики порядочности</h4>
                                    <ul class="carrier-profile__metrics-list">
                                        <li><span>На ZIGMUS: </span>  1 год</li>
                                        <li><span>Всего заказов: </span>254</li>
                                        <li><span>Отзывы: </span>2</li>
                                        <li><span>Спорных ситуаций: </span>0</li>
                                        <li><span>Жалоб с его стороны: </span>0</li>
                                        <li><span>Жалоб на него: </span>0</li>
                                    </ul>
                                </div>
                                <div class="carrier-profile__metrics-info">
                                    <h4>Метрики комфорта</h4>
                                    <ul class="carrier-profile__metrics-list">
                                        <li><span>Средний ответ на отклик: </span>30 минут</li>
                                        <li><span>Среднее время ответа на сообщения: </span>40 минут</li>
                                        <li><span>Среднее время оплаты: </span>Сразу</li>
                                        <li><span>Среднее время отправки документов: </span>1 день</li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="carrier-profile__column">
                                <div class="carrier-profile__column-item">
                                    <div class="carrier-profile__item-head">
                                        <h3>Актуальный транспорт</h3>
                                        <button class="carrier-profile__item-head-info">4 авто</button>
                                    </div>
                                </div>
                                <div class="carrier-profile__column-item">
                                    <div class="carrier-profile__item-head">
                                        <h3>Грузы в работе</h3>
                                        <button class="carrier-profile__item-head-info">4 груза</button>
                                    </div>
                                </div>
                                <div class="carrier-profile__column-item">
                                    <div class="carrier-profile__item-head carrier-profile__item-head--active">
                                        <h3>Отзывы</h3>
                                        <button class="carrier-profile__item-head-info">2</button>
                                        <button class="carrier-profile__item-head-info">-1</button>
                                        <a class="carrier-profile__item-head-link carrier-profile__item-head-link--active" href="#">Ему</a>
                                        <a class="carrier-profile__item-head-link" href="#">От него</a>
                                    </div>
                                    <div class="carrier-profile__item-content carrier-profile__item-content--active">
                                        <div class="carrier-profile__content-head">
                                            <div class="carrier-profile__content-head-icon">
                                                <img src="../../img/icons/full-avatar-woman.svg" alt="">
                                                <span class="carrier-profile__content-head-icon-span">ID</span> 00002
                                            </div>
                                            <div class="carrier-profile__content-head-rating">
                                                <span>
                                                    Оценка: 
                                                </span>
                                                <div class="review-form__rate-yo profile__rate" data-rateyo-rating="5"></div>
                                            </div>
                                            <div class="carrier-profile__content-head-statistic">
                                                <span>
                                                    Заказ № 00001
                                                </span>
                                                <span>
                                                    Сумма 800 евро
                                                </span>
                                            </div>
                                            <p class="cargo-order-card-popup__head-top-rating">20 декабря</p>
                                        </div>
                                        <div class="carrier-profile__content-text">
                                            <p>Все отлично. Деньги перевели сразу. Описание соответвовало реальности</p>
                                        </div>
                                        <div class="carrier-profile__content-answer">
                                            <div class="carrier-profile__content-answer-head">
                                                <div class="carrier-profile__content-answer-head-icon">
                                                    <img src="../../img/icons/building.svg" alt="">
                                                    <span class="carrier-profile__content-head-icon-span">ID</span> 00002
                                                </div>
                                                <p class="carrier-profile__content-answer-status">Ответ</p>
                                            </div>
                                            <p>Спасибо! С Вами тоже приятно работать</p>
                                        </div>
                                    </div>
                                    <div class="carrier-profile__item-content carrier-profile__item-content--active">
                                        <div class="carrier-profile__content-head">
                                            <div class="carrier-profile__content-head-icon">
                                                <img src="../../img/icons/full-avatar-woman.svg" alt="">
                                                <span class="carrier-profile__content-head-icon-span">ID</span> 00002
                                            </div>
                                            <div class="carrier-profile__content-head-rating">
                                                <span>
                                                    Оценка: 
                                                </span>
                                                <div class="review-form__rate-yo profile__rate" data-rateyo-rating="5"></div>
                                            </div>
                                            <div class="carrier-profile__content-head-statistic">
                                                <span>
                                                    Заказ № 00001
                                                </span>
                                                <span>
                                                    Сумма 800 евро
                                                </span>
                                            </div>
                                            <p class="cargo-order-card-popup__head-top-rating">20 декабря</p>
                                        </div>
                                        <div class="carrier-profile__content-text">
                                            <p>Все отлично. Деньги перевели сразу. Описание соответвовало реальности</p>
                                        </div>
                                        <div class="carrier-profile__content-answer">
                                            <div class="carrier-profile__content-answer-head">
                                                <div class="carrier-profile__content-answer-head-icon">
                                                    <img src="../../img/icons/building.svg" alt="">
                                                    <span class="carrier-profile__content-head-icon-span">ID</span> 00002
                                                </div>
                                                <p class="carrier-profile__content-answer-status">Ответ</p>
                                            </div>
                                            <p>Спасибо! С Вами тоже приятно работать</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            @@include('../../blocks/modules/footer/_footer.html')

            <div class="overlay">

                @@include('../../blocks/modules/popups/_popups.html')

            </div>
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>