<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="p-profile">
            <div class="container">
                <div class="p-profile__wrapper">
                    @@include('../../blocks/modules/dashboard/_dashboard.html')

                    <div class="p-profile__content">
                        <nav class="breadcrumbs">
                            <a class="breadcrumbs__item" href="#">
                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                        fill="#343434" />
                                </svg>
                                Хлебные крошки
                            </a>
                        </nav>

                        <div class="company">
                            <div class="company__body partners">
                                <h4 class="title section-title company__title company__title--border">
                                    Получайте бесплатные поездки приглашая партнеров и друзей
                                </h4>
                                <div class="partners__inner flex">
                                    <div class="partners__item">
                                        <p class="partners__list-descr">
                                            Бонус за партнера будет дейстовать, после его 1 заказа
                                        </p>
                                        <ul class="check-list partners__list">
                                            <li class="check-list__item partners__list-item">
                                                1-2 партнера = 1 бесплатная поездка
                                            </li>
                                            <li class="check-list__item partners__list-item">
                                                3-4 партнера = 2 бесплатные поездки
                                            </li>
                                            <li class="check-list__item partners__list-item">
                                                5-6 партнеров = 3 бесплатные поездки
                                            </li>
                                            <li class="check-list__item partners__list-item">
                                                от 10 партнеров = 5 бесплатных поездок
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="partners__item partners__text">
                                        Ваш приглашенный партнер, получит 3-ю поездку бесплатно
                                    </div>
                                </div>
                                <a href="#" class="blue-btnlink partners__item partners__link">
                                    Ваша ссылка для приглашения
                                </a>
                            </div>
                            <div class="company__body">
                                <h4 class="title section-title company__title company__title--border">
                                    Почему стоит приглашать партнеров?
                                </h4>
                                <div
                                    style="background-color: #FF7070; border-radius: 10px; width: 100%; min-height: 291px; display: flex; justify-content: center; align-items: center;">
                                    <p
                                        style="font-weight: 700; font-size: 35px; line-height: 43px; text-align: center; color: #000; opacity: 0.4;">
                                        Как будет готов лэнд
                                    </p>
                                </div>
                            </div>
                            <div class="company__body invitations">
                                <h3 class="title section-title company__title">Вы пригласили</h3>
                                <ul class="company-table invitations__list">
                                    <li class="company-table__item invitations__item">
                                        <p class="invitations__item-text">
                                            ID0005
                                        </p>
                                        <p class="invitations__item-text invitations__item-name">Ботян Артем</p>
                                        <p class="invitations__item-text invitations__item-bonus">Бонус начислен</p>
                                    </li>
                                    <li class="company-table__item invitations__item flex">
                                        <p class="invitations__item-text">
                                            ID0005
                                        </p>
                                        <p class="invitations__item-text invitations__item-name">Ботян Артем</p>
                                        <p class="invitations__item-text invitations__item-bonus">Бонус начислен</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/_popups.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>