<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="p-profile">
            <div class="container">
                <div class="p-profile__wrapper">
                    <aside class="dashboard p-profile__dashboard">
                        <div class="title dashboard__title">
                            Ваш кабинет
                        </div>
                        <ul class="dashboard__menu">
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/box.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Грузы
                                        <span>1</span>
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои грузы
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Не подтверждённые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            В работе
                                            <span>1</span>
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Скрытые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Выполненные
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/delivery-truck.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Транспорт
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мой транспорт
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Не подтверждённые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            В работе
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Скрытые
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Выполненные
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/auction.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Аукцион грузы
                                    </div>
                                </div>
                                <ul class="dashboard__submenu">
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои аукционы
                                        </a>
                                    </li>
                                    <li class="dashboard__submenu-item">
                                        <a class="dashboard__submenu-link" href="#">
                                            Мои ставки
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header dashboard__item-header--start">
                                    <img src="img/icons/dashboard/auction.svg" alt="">
                                    <div class="title dashboard__item-title dashboard__item-title--lh17">
                                        Аукцион <br>
                                        транспорт
                                    </div>
                                </div>
                            </li>
                            <li class="dashboard__item dashboard__item--drop">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/building.svg" alt="">
                                    <div class="title dashboard__item-title">
                                        Компания
                                    </div>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/settings.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Настройки
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/affiliate-marketing.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Реф. программа
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/discount.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Ваша скидка
                                    </a>
                                </div>
                            </li>
                            <li class="dashboard__item">
                                <div class="dashboard__item-header">
                                    <img src="img/icons/dashboard/megaphone.svg" alt="">
                                    <a href="#" class="title dashboard__item-title">
                                        Реклама
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <button id="exit" class="button dashboard-btn dashboard__btn button--transparent">
                            Выйти
                        </button>
                    </aside>

                    <div class="p-profile__content">

                        <div class="p-profile__content-inner flex">
                            <div class="p-profile__body">
                                <div class="p-profile__head add-auction__head">
                                    <h3 class="title section-title p-profile__title">
                                        Транспорт
                                    </h3>
                                    
                                    <div>
                                        <p class="add-auction__head-text--sizes">Заполнить из шаблона</p>
                                        
                                        <div class="profile__field template__field">
                                          <select class="filter-style" name="" id="">
                                            <option value="" class="field__value">
                                              MAN 535 AA1691-7
                                            </option>
                                            <option value="" class="field__value">
                                              MAN 535 AA1691-7
                                            </option>
                                          </select>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="profile__item profile__item--border">
                                    <h5 class="title profile__item-title">Машина и прицеп</h5>
                                    <form action="#" class="profile__form profile__item">
                                        <h6 class="profile__form-title">
                                            Характеристики
                                        </h6>
                                        <div class="profile__fields">
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">Вид</label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            Тягач с полуприцепом
                                                        </option>
                                                        <option value="" class="field__value">
                                                            Тягач с полуприцепом
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="field profile__field">
                                                    <label class="label">Загрузка</label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            Сзади, сбоку
                                                        </option>
                                                        <option value="" class="field__value">
                                                            Сзади, сбоку
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="field profile__field">
                                                    <label class="label">Вес</label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            20 тонн
                                                        </option>
                                                        <option value="" class="field__value">
                                                            20 тонн
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">Прицеп</label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            Тентовый
                                                        </option>
                                                        <option value="" class="field__value">
                                                            Тентовый
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="field profile__field">
                                                    <label class="label">Дополнительно</label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            Гидролифт
                                                        </option>
                                                        <option value="" class="field__value">
                                                            Гидролифт
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="field profile__field">
                                                    <label class="label">Объем</label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            83м3
                                                        </option>
                                                        <option value="" class="field__value">
                                                            83м3
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <form class="profile__form profile__item gabarits">
                                    <h6 class="profile__form-title gabarits__title">
                                        Габариты
                                    </h6>
                                    <div class="gabarits__items flex">
                                        <div class="gabarits__item">
                                            <label for="" class="gabarits__item-label">Длина</label>
                                            <input type="text" class="field gabarits__item-input" placeholder="метров">
                                        </div>
                                        <div class="gabarits__item">
                                            <label for="" class="gabarits__item-label">Ширина</label>
                                            <input type="text" class="field gabarits__item-input" placeholder="метров">
                                        </div>
                                        <div class="gabarits__item">
                                            <label for="" class="gabarits__item-label">Высота</label>
                                            <input type="text" class="field gabarits__item-input" placeholder="метров">
                                        </div>
                                        <div class="gabarits__item">
                                            <label for="" class="gabarits__item-label">Палеты</label>
                                            <div class="gabarits__item-inner flex">
                                                <input type="text"
                                                    class="field gabarits__item-input gabarits__item-input--counter"
                                                    placeholder="До (шт)">
                                                <div class="gabarits__counter flex">
                                                    <button class="field gabarits__btn gabarits__minus-btn"
                                                        type="button">-</button>
                                                    <button class="field gabarits__btn gabarits__plus-btn"
                                                        type="button">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="profile__item profile__item--border">
                                    <h5 class="title profile__item-title">Водитель и информация</h5>
                                    <form action="#" id="driver-info" class="profile__form profile__fields">
                                        <div class="profile__fields-col">
                                            <div class="field profile__field">
                                                <label class="label">Имя и Фамилия</label>
                                                <input type="text" class="input field__value">
                                                <button class="reset-filter-btn"></button>
                                            </div>
                                            <div class="field profile__field">
                                                <label class="label">Имя и Фамилия</label>
                                                <input type="text" class="input field__value">
                                                <button class="reset-filter-btn"></button>
                                            </div>
                                            <div class="plus-btn profile__plus-btn add-driver">
                                                Добавить ещё водителя
                                            </div>
                                        </div>
                                        <div class="profile__fields-col">
                                            <div class="profile__field-item">
                                                <div class="field phone-field profile__field">
                                                    <label class="label" for="phone">
                                                        Номер телефона
                                                    </label>
                                                    <select class="filter-style" name="country">
                                                        <option value="by">BY</option>
                                                        <option value="ru">RU</option>
                                                        <option value="ua">UA</option>
                                                    </select>
                                                    <input type="tel" name="phone"
                                                        placeholder="+375 (_ _) _ _ _-_ _-_ _">
                                                </div>
                                                <div class="plus-btn profile__plus-btn add-phone">
                                                    Добавить еще телефон
                                                </div>
                                                <!-- <div class="field phone-field profile__field">
                                                    <label class="label" for="phone">Номер телефона</label>
                                                    <div class="jq-selectbox jqselect filter-style">
                                                        <select class="filter-style" name="country">
                                                            <option value="by">BY</option>
                                                            <option value="ru">RU</option>
                                                            <option value="ua">UA</option>
                                                        </select>
                                                        <div class="jq-selectbox__select">
                                                            <div class="jq-selectbox__select-text"></div>
                                                            <div class="jq-selectbox__trigger">
                                                                <div class="jq-selectbox__trigger-arrow"></div>
                                                            </div>
                                                        </div>
                                                        <div class="jq-selectbox__dropdown" style="display: none;">
                                                            <ul>
                                                                <li class="selected sel">BY</li>
                                                                <li>RU</li>
                                                                <li>UA</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <input type="tel" name="phone"
                                                        placeholder="+375 (_ _) _ _ _-_ _-_ _">
                                                </div> -->
                                            </div>
                                            <div class="profile__field-item profile__messangers">
                                                <p class="profile__messangers-descr">
                                                    По этому телефону есть
                                                </p>
                                                <div class="profile__messangers-line flex">
                                                    <label>
                                                        <input type="checkbox" name="viber" class="filter-style">
                                                        Viber
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="whatsup" class="filter-style">
                                                        WhatsApp
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="telegram" class="filter-style">
                                                        Telegram
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="profile__item">
                                    <form action="#" id="truck-info" class="profile__form profile__form--w100">
                                        <h6 class="profile__form-title">
                                            Информация
                                        </h6>
                                        <div class="profile__fields">
                                            <div class="field profile__field profile__fields-col">
                                                <label class="label">
                                                    Номер авто
                                                </label>
                                                <div class="field__value">
                                                    <input type="text" class="input field__value">
                                                    <button class="reset-filter-btn"></button>
                                                </div>
                                            </div>
                                            <div class="profile__file-fields">
                                                <div class="field profile__field profile__img-choice flex">
                                                    <label class="plus-btn">
                                                        Добавить фото грузовика
                                                        <input class="filter-style" type="file" name="logo" id="logo">
                                                    </label>
                                                </div>
                                                <div class="field profile__field profile__img-choice flex">
                                                    <label class="plus-btn">
                                                        Добавить фото грузовика
                                                        <input class="filter-style" type="file" name="logo" id="logo">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="profile__item">
                                    <h5 class="title profile__item-title">Документы</h5>
                                    <form action="#" id="docs" class="profile__form">
                                        <h6 class="profile__form-title">
                                            Характеристики
                                        </h6>
                                        <div class="profile__fields">
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">
                                                        ADR
                                                    </label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            Выбранно всё
                                                        </option>
                                                        <option value="" class="field__value">
                                                            Выбранно всё
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">
                                                        Другие
                                                    </label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            TIR, СMR
                                                        </option>
                                                        <option value="" class="field__value">
                                                            TIR, СMR
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="profile__item">
                                    <h5 class="title profile__item-title">Оплата</h5>
                                    <form action="#" id="payment" class="profile__form profile__form--w100">
                                        <div class="profile__fields profile__field-item">
                                            <div class="field profile__fields-col profile__field">
                                                <label class="label">
                                                    Вид оплаты
                                                </label>
                                                <select class="filter-style" name="" id="">
                                                    <option value="" class="field__value">
                                                        Ставка
                                                    </option>
                                                    <option value="" class="field__value">
                                                        Ставка
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="profile__checkboxes profile__payment-checkboxes flex">
                                                <label>
                                                    <input type="radio" name="payment-choice" class="filter-style">
                                                    Безнал
                                                </label>
                                                <label>
                                                    <input type="radio" name="payment-choice" class="filter-style">
                                                    Наличными
                                                </label>
                                                <label>
                                                    <input type="radio" name="payment-choice" class="filter-style">
                                                    Наличными, на карту
                                                </label>
                                            </div>
                                        </div>
                                        <div class="profile__field-item profile__fields-col">
                                            <div class="field profile__field profile__fields-col">
                                                <label class="label">
                                                    Стоимость
                                                </label>
                                                <select class="filter-style" name="" id="">
                                                    <option value="" class="field__value">
                                                        20€ / <span>Км.</span>
                                                    </option>
                                                    <option value="" class="field__value">
                                                        20€ / <span>Км.</span>
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="profile__checkboxes profile__price-checkboxes flex">
                                                <label>
                                                    <input type="radio" name="payment-choice" class="filter-style">
                                                    Торг
                                                </label>
                                                <label>
                                                    <input type="radio" name="payment-choice" class="filter-style">
                                                    Подача, бесплатно
                                                </label>
                                            </div>
                                        </div>
                                        <div class="profile__field-item profile__fields">
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">
                                                        Предоплата
                                                    </label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            Без
                                                        </option>
                                                        <option value="" class="field__value">
                                                            С
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">
                                                        Оплата
                                                    </label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            При разгрузке
                                                        </option>
                                                        <option value="" class="field__value">
                                                            При разгрузке
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="profile__item">
                                    <h5 class="title profile__item-title">Комментарий</h5>
                                    <div class="profile__form">
                                        <p class="profile__item-descr profile__comment-descr">
                                            Указывать контактные данные, ссылки, запрещено, при нарушении правила,
                                            транспорт будет удален
                                        </p>
                                    </div>
                                </div>
                                <div class="profile__item">
                                    <h5 class="title profile__item-title">Комментарий</h5>
                                    <form action="#" id="comment" class="profile__form">
                                        <div class="profile__field-item profile__fields">
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">
                                                        Предоплата
                                                    </label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            Без
                                                        </option>
                                                        <option value="" class="field__value">
                                                            С
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="profile__fields-col">
                                                <div class="field profile__field">
                                                    <label class="label">
                                                        Оплата
                                                    </label>
                                                    <select class="filter-style" name="" id="">
                                                        <option value="" class="field__value">
                                                            При разгрузке
                                                        </option>
                                                        <option value="" class="field__value">
                                                            При разгрузке
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="profile__item">
                                    <h5 class="title profile__item-title">Общая информация</h5>
                                    <form action="#" id="route" class="profile__form">
                                        <div class="profile__form-header flex">
                                            <h6 class="title profile__form-title">
                                                Укажите ваш маршрут
                                            </h6>
                                        </div>
                                        <div class="profile__field-item profile__fields fields--aline-item">
                                            <div class="profile__fields-col">
                                                <div class="field profile__field field--transparent field--flex">
        
                                                    <div class="from__container">
                                                        <div class="from-icon">
                                                            <img src="img/a-svg.svg" alt="from-logo">
                                                        </div>
                                                        <div class="from-content">
                                                            <label for="from" class="from-label">
                                                                Откуда?
                                                                <div class="plus filter-item__plus add__plus">+</div>
                                                            </label>
                                                            <input type="text" name="from" class="from-input" id="from" required>
                                                        </div>               
        
                                                    </div>
        
                                                </div>
                                            </div>
                                            <div class="profile__fields-col">
        
                                                <div class="profile__fields-col field profile__field profile__date-field">
                                                    <input class="datepicker-here label" type="text" name="date" id=""
                                                        placeholder="Указать дату" readonly>
                                                </div>
                                            </div>
        
                                            
                                        </div>
                                        
                                        <div class="profile__field-item profile__fields fields--aline-item">
                                            <div class="profile__fields-col">
                                                <div class="field profile__field field--transparent where-label field--flex">
        
                                                    <div class="from__container">
                                                        <div class="from-icon">
                                                            <img src="img/b-svg.svg" alt="where-logo">
                                                        </div>
                                                        <div class="from-content">
                                                            <label for="where" class="where-label">
                                                                Куда?
                                                                <div class="plus filter-item__plus add__plus">+</div>
                                                            </label>
                                                            <input type="text" name="where" class="from-input" id="where" required>
                                                        </div>               
        
                                                    </div>
        
                                                </div>
                                            </div>
                                            <div class="profile__fields-col">
        
                                                <div class="profile__fields-col field profile__field profile__date-field">
                                                    <input class="datepicker-here label" type="text" name="date" id=""
                                                        placeholder="Указать дату" readonly>
                                                </div>
        
                                            </div>
                                            
                                        </div>
        
                                        <div class="plus-btn profile__plus-btn add-point">
                                            Добавить еще пункт (если сборный груз)
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <aside class="p-profile__aside">
                                <div class="p-profile__add p-profile__aside-item">
                                    <div class="p-profile__fullness flex">
                                        <div class="p-profile__fullness-percent">
                                            87%
                                        </div>
                                        <div class="p-profile__aside-item-text p-profile__fullness-text">
                                            Чтобы опубликовать транспорт заполните на 100%
                                        </div>
                                    </div>
                                    <button id="add-profile" class="button p-profile__aside-btn">
                                        Добавить транспорт
                                    </button>
                                    <button id="skip-second-step" class="p-profile__aside-blue-btn flex">
                                        Отменить
                                    </button>
                                </div>
                            </aside>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/_popups.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>