.enter-popup {
    display: none;
    min-height: 422px;

    &__title {
        margin-bottom: 40px;
    }

    &__form-btn {
        margin-bottom: 15px;
    }

    &__forgot-password {
        display: block;
        margin-top: 15px;
        text-align: center;
    }

    &__email-enter {
        display: none;
    }
}

#phone-enter {
    display: none;
}
