.order-card {
    background: #ffffff;
    border: 1px solid rgba(35, 110, 255, 0.3);
    border-radius: 8px;
    padding: 15px 0;

    // .order-card__header

    &__header {
        @include flex;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 10px;

        @media (max-width: 575px) {
            padding: 0 7px;
            margin-bottom: 7px;
        }
    }

    // .order-card__title

    &__title {
        padding-left: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;

        @media (max-width: 575px) {
            font-size: 11px;
            line-height: 18px;
        }
    }

    // .order-card__header-btn

    &__settings-btn {
    }

    // .order-card__labels

    &__labels {
        padding-left: 10px;
        margin-bottom: 15px;

        @media (max-width: 575px) {
            padding-left: 7px;
            margin-bottom: 10px;
        }
    }

    // .order-card__label

    &__label {
        display: inline-block;
        width: 85px;
        height: 22px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        padding: 0 8px 0 28px;
        font-size: 10px;
        line-height: 19px;
        background-size: 13px 14px;
        background-position: 10px center;

        @media (max-width: 575px) {
            width: 58px;
            border-radius: 3.41256px;
            border-width: 0.682513px;
            padding-right: 6px;
            padding-left: 19px;
            font-size: 7px;
            line-height: 13px;
            font-weight: 500;
        }
    }

    &__label + &__label {
        margin-left: 9px;

        @media (max-width: 575px) {
            margin-left: 6px;
        }
    }

    // .order-card__label--urgent

    &__label--urgent {
        background-color: rgba(249, 69, 30, 0.07);
        border-color: rgba(249, 69, 30, 0.12);
        background-image: url('../img/icons/fire.svg');
        background-repeat: no-repeat;
        color: rgba(#f9451e, 0.7);

        @media (max-width: 575px) {
            background-size: 6px 9px;
            background-position: 8px center;
        }
    }

    // .order-card__label--expensive

    &__label--expensive {
        background-color: rgba(33, 161, 1, 0.07);
        border-color: rgba(33, 161, 1, 0.12);
        background-image: url('../img/icons/dollar-bag.svg');
        background-repeat: no-repeat;
        color: rgba(#21a101, 0.7);

        @media (max-width: 575px) {
            background-size: 7px 9px;
            background-position: 8px center;
        }
    }

    // .order-card__path

    &__path {
        background-color: $light-blue-bg;
        padding: 15px 9px;

        @media (max-width: 575px) {
            padding: 10px 6px;
        }
    }

    // .order-card__path-header

    &__path-header {
        @include flex;
        align-items: center;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 15px;

        @media (max-width: 575px) {
            line-height: 13px;
            margin-bottom: 10px;
        }
    }

    // .order-card__path-fromto

    &__path-fromto {
        font-size: 14px;

        @media (max-width: 575px) {
            font-size: 10px;
        }
    }

    // .order-card__path-length

    &__path-length {
        font-size: 10px;

        @media (max-width: 575px) {
            font-size: 7px;
        }
    }

    // .order-card__path-items

    &__path-items {
        position: relative;
        @include flex;
        padding-bottom: 15px;
        border-bottom: 1px dashed $second-blue;

        @media (max-width: 575px) {
            padding-bottom: 10px;
            border-width: 0.682513px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: -4.5px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background: $second-blue;

            @media (max-width: 575px) {
                width: 6px;
                height: 6px;
                bottom: -2.5px;
            }
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    // .order-card__path-item

    &__path-item {
        position: relative;
        padding-left: 25px;

        @media (max-width: 575px) {
            padding-left: 17px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media (max-width: 575px) {
                width: 13.65px;
                height: 13.65px;
            }
        }
    }

    // .order-card__path-item--from

    &__path-item--from {
        &:before {
            background-image: url('../img/icons/belarus.png');
        }
    }

    // .order-card__path-item--to

    &__path-item--to {
        &:before {
            background-image: url('../img/icons/poland.png');
        }
    }

    // .order-card__path-city

    &__path-city {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 2px;

        @media (max-width: 575px) {
            font-size: 8px;
            line-height: 10px;
            margin-bottom: 1.37px;
        }
    }

    // .order-card__path-region

    &__path-region {
        font-size: 10px;
        opacity: 0.5;

        @media (max-width: 575px) {
            font-size: 7px;
            line-height: 8px;
        }
    }

    // .order-card__info-item

    &__info-item {
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        padding: 10px;
        border-bottom: 1px solid #f2f2f2;

        @media (max-width: 575px) {
            padding: 7px;
            border-bottom-width: 0.68px;
            font-size: 8px;
            line-height: 13px;
        }

        li {
            margin-bottom: 5px;

            @media (max-width: 575px) {
                margin-bottom: 3px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: rgba(52, 52, 52, 0.5);
            }
        }
    }

    // .order-card__info-dates

    &__info-dates {
        @include flex;

        li {
            position: relative;
            padding-left: 16px;
            margin-bottom: 0;

            @media (max-width: 575px) {
                padding-left: 11px;
                margin-bottom: 0;
            }

            &:before {
                content: '';
                position: absolute;
                top: 3px;
                left: 0;
                width: 11px;
                height: 11px;
                background-image: url('../img/icons/clock.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                @media (max-width: 575px) {
                    width: 7px;
                    height: 7px;
                    top: 3px;
                }
            }
        }
    }

    &__info-params {
        max-width: 163px;
        @include flex;
        flex-wrap: wrap;

        @media (max-width: 575px) {
            max-width: 52px + 7px + 53px;
        }
    }

    // .order-card__info-car

    &__info-car {
        li {
            padding-left: 16px;

            @media (max-width: 575px) {
                padding-left: 11px;
            }

            &:first-child {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 11px;
                    height: 11px;
                    background-image: url('../img/icons/car.svg');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;

                    @media (max-width: 575px) {
                        width: 8px;
                        height: 6px;
                    }
                }
            }
        }
    }

    // .order-card__action

    &__action {
    }

    // .order-card__action-head

    &__action-head {
        @include flex;
        align-items: center;
        margin-bottom: 13px;

        @media (max-width: 575px) {
            margin-bottom: 9px;
        }
    }

    // .order-card__price

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        white-space: nowrap;

        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 18px;
        }
    }

    // .order-card__action-labels

    &__action-labels {
    }

    // .order-card__action-label

    &__action-label {
        display: inline-block;
        border: 1px solid $second-blue;
        border-radius: 5px;
        padding: 2px 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        color: $blue;
        text-align: center;

        @media (max-width: 575px) {
            border-width: 0.682513px;
            border-radius: 3.41256px;
            padding: 1px 8px;
            font-size: 8px;
            line-height: 13px;
        }
    }

    &__action-label + &__action-label {
        margin-left: 5px;

        @media (max-width: 575px) {
            margin-left: 3.41px;
        }
    }

    // .order-card__btn

    &__btn {
        height: 38px;
        display: flex;
        align-items: center;
        box-shadow: none;
        padding: 7px 15px;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;

        @media (max-width: 575px) {
            width: 100%;
            height: 26px;
            font-size: 8px;
            line-height: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 26px;
        }
    }

    // .order-card__info-nums

    &__info-nums {
        @include flex;
        flex-wrap: wrap;

        li {
            margin-bottom: 0px;

            &:first-child {
                width: 100%;
                position: relative;
                padding-left: 22px;
                margin-bottom: 6px;

                @media (max-width: 575px) {
                    padding-left: 15px;
                    margin-bottom: 4px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $blue;
                    background-image: url('../img/icons/id-check.svg');
                    background-size: 7px 7px;
                    background-position: center;
                    background-repeat: no-repeat;

                    @media (max-width: 575px) {
                        width: 10px;
                        height: 10px;
                        top: 1px;
                    }
                }
            }
        }
    }

    // .order-card__footer

    &__footer {
        @include flex;
    }

    // .order-card__footer-item

    &__footer-item {
        font-size: 8px;
        line-height: 10px;
        opacity: 0.5;
        padding: 10px 10px 0 10px;

        @media (max-width: 575px) {
            font-size: 5.46px;
            line-height: 7px;
            padding: 7px 7px 0 7px;
        }

        p {
            display: inline-block;

            &:first-child {
                position: relative;
                padding-left: 14px;

                @media (max-width: 575px) {
                    padding-left: 10px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('../img/icons/visibility.svg');

                    @media (max-width: 575px) {
                        width: 7px;
                        height: 5px;
                        top: 1px;
                    }
                }
            }
        }

        p + p {
            margin-left: 10px;

            @media (max-width: 575px) {
                margin-left: 7px;
            }
        }
    }
}
