.register-popup {
    width: 750px;
    min-height: 630px;
    // .register-popup__form

    &__form {
        width: 50%;
        padding-right: 40px;
    }

    // .register-popup__title

    &__title {
        margin-bottom: 40px;
        // .register-popup__title--white
    }

    &__form-item {
        &:first-child {
            margin-bottom: 10px;
        }
    }

    &__form-label {}

    &__form-input {}

    // .register-popup__email-link

    &__email-link {
        margin-bottom: 10px;
    }

    // .register-popup__btn

    &__form-btn {
        margin-bottom: 15px;
    }

    &__form-confirm {
        line-height: 18px;
        margin-bottom: 30px;

        .check-style {
            width: 10px;
            height: 10px;
            border: 1px solid rgba($blue, 0.6);
            border-radius: 2px;
        }
    }

    // .register-popup__blue-block

    &__blue-block {
        width: 50%;
        padding-left: 40px;
        background: $blue;
        color: #ffffff;
    }

    // .register-popup__benefits

    &__benefits {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    // .register-popup__benefits-item

    &__benefits-item {
        position: relative;
        padding-left: 70px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            @include centerY;
            border-radius: 50%;
        }

        &::before {
            left: 0;
            width: 50px;
            height: 50px;
            background-color: #fff;
        }

        &:after {
            left: 12px;
            width: 26px;
            height: 26px;
            background-image: url("../img/icons/check.svg");
        }
    }
}