// flex
@mixin flex {
    display: flex;
    justify-content: space-between;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin column {
    display: flex;
    flex-direction: column;
}

// buttons, links
@mixin btn {
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

// positioning
@mixin centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin centerXY {
    @include centerX;
    @include centerY;
    transform: translate(-50%, -50%);
}
